#view-portlet{
    margin: 20px auto 20px auto;
    width: 228px;
	
		
}
#view-portlet .portletWrapper{
	width: 228px;

}
#view-portlet .portletFooter{
   padding: 0 15px !important;

}
#view-portlet .portletFooter .saibamais{
    position: relative;
    bottom: 10px;
    font-size: 120%;
}
#view-portlet dd{
	margin:0px;
		
}
