#view-portlet{
    margin: 20px auto 20px auto;
    width: 228px;
	
		
}
#view-portlet .portletWrapper{
	width: 228px;

}
#view-portlet .portletFooter{
	padding-top:0px !important;

}
#view-portlet .portletFooter .saibamais{
	font-size:12px;
	background: url("++resource++vindula.themedefault/images/bkgs/conBoxTipo2.png") repeat-y scroll 0 0 transparent;
		
}
#view-portlet dd{
	margin:0px;
		
}
