.view-procedure { 
    background: url(++resource++vindula.content/images/search.png) no-repeat; 
    width:16px;
    height:16px; 
}

.search-cell { text-align: center; }

#column_codigo{
	width:100px;
}